---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
layout: null
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9
        http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">

  {%- for item in collections.all | reverse %}
  {%- if item.url and not item.data.eleventyExcludeFromCollections %}
  <url>
    <loc>https://agelesslabs.ai{{ item.url }}</loc>
    <lastmod>{{ item.date | htmlDateString }}</lastmod>
    <changefreq>{% if item.url == '/' %}weekly{% elif '/biomarkers/' in item.url %}monthly{% else %}monthly{% endif %}</changefreq>
    <priority>{% if item.url == '/' %}1.0{% elif item.url == '/analyze/' %}0.9{% elif item.url == '/biomarkers/' %}0.9{% elif '/biomarkers/' in item.url %}0.8{% elif item.url == '/blog/' %}0.7{% elif '/blog/' in item.url %}0.7{% else %}0.5{% endif %}</priority>
  </url>
  {%- endif %}
  {%- endfor %}

</urlset>
